<!-- app/views/monitoring/index.html.erb -->
<div class="monitoring-container">
  <h1>System Monitoring</h1>
  <iframe src="/monitoring/proxy" width="100%" height="800px" frameborder="0"></iframe>
</div>